<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mb-md-0 mt-5 text-center">
      <label for="text">Text To LowerCase</label>
      <input appLowerCase type="text" class="form-control">
    </div>
  </div>
</div>

<!-- credit-card -->

<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mb-md-0 mt-5 text-center">
      <h5>💳 Credit Card</h5>
      <input appCreditCard type="text" placeholder="Enter Card / ATM Number"
        class="form-control form-control-lg text-center">
      <!-- <strong class="text-danger d-none">Plz Enter Valid Value</strong> -->

    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mb-md-0 mt-5 text-center">
      <h5>🪪 Aadhaar Card</h5>
      <input  appAdharCard type="text" maxlength="12" placeholder="Enter Aadhar Number"
        class="form-control form-control-lg text-center">

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mb-md-0 mt-5 text-center">
      <h5>🪪 PAN Card</h5>
      <input  pancard type="text" maxlength="12" placeholder="Enter PAN Number"
        class="form-control form-control-lg text-center">

    </div>
  </div>
</div>



<div class="container mt-5">
  <p advanceCss>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae quaerat nam obcaecati fugiat, at explicabo rem
    tempore minus totam ab alias quibusdam illum delectus exercitationem consequatur dolorum laborum, esse nisi
    necessitatibus eligendi ea. Tenetur cum accusantium quas voluptatibus nemo temporibus!
  </p>

  <p advanceCss>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae quaerat nam obcaecati fugiat, at explicabo rem
    tempore minus totam ab alias quibusdam illum delectus exercitationem consequatur dolorum laborum, esse nisi
    necessitatibus eligendi ea. Tenetur cum accusantium quas voluptatibus nemo temporibus!
  </p>

  <p basicCss>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae quaerat nam obcaecati fugiat, at explicabo rem
    tempore minus totam ab alias quibusdam illum delectus exercitationem consequatur dolorum laborum, esse nisi
    necessitatibus eligendi ea. Tenetur cum accusantium quas voluptatibus nemo temporibus!
  </p>
</div>